*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    padding: 0 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header_left{
    display: block;
    min-width: 180px;
}
.header_link{
    display: inline-block;
    padding: 6px;
    border-radius:2px ;
    text-decoration: none;
    color: var(--Body-Color);
}
.amazon_logo{
    width: 100px;
    margin-top: 5px;
}
.middle_content{
    flex: 1;
    flex-shrink: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: rgb(0, 113, 133);
}
.main{
    max-width: 1100px;
    padding: 0 30px;
    margin-top: 140px;
    margin-bottom:  100px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width:1000px){
    .main{
        max-width: 500px;
    }
    div.main_grid{
        grid-template-columns:1fr;
    }
}
.main_header{
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom:18px ;
}
.main_grid{
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
    align-items: start;
}
.cart_summary_btn{
    margin-top: 10px;
    padding: 8px 15px;
    text-align: center;
    border: none;
    background-color: rgb(255, 216, 20);
    border-color: rgb(252, 210, 0);
    border-radius: 10px;
}
.cart_summary_btn:hover{
    background-color: rgba(199, 166, 0, 0.909);
    border-color: rgb(252, 210, 0);
}
.payment_summary{
    border: solid 1px rgb(222,222,222);
    border-radius:4px ;
    padding: 18px 18px 5px;
}
.payment_summary_btn{
    width: 100%;
    padding: 12px 6px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 19px;
    text-align: center;
    border: none;
    background-color: rgb(255, 216, 20);
    border-color: rgb(252, 210, 0);
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.payment_summary_btn:hover{
    background-color: rgba(199, 166, 0, 0.909);
    border-color: rgb(252, 210, 0);
}
.order_summary{
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 18px;
}
.payment_info_row{
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 15px;
    margin-bottom: 9px;
}
.subtotal_row{
    padding-top: 9px;
}
.payment_info_total_row{
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 15px;
    margin-bottom: 9px;
    color: rgb(177, 39, 4);
    font-weight: 700;
    font-size: 18px;
}