*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:100%;
    min-height: 100vh; 
    background: linear-gradient(135deg,rgb(225, 148, 249),rgb(111, 178, 255));
    color:white;
    padding: 4%;
}
.header{
    display: flex;
    margin-bottom: 10px;
}
.header_img{
    width:60px;
    height:60px;
}
button, button:hover, .btn, .btn:hover{
    color: white;
    background-color:rgb(131, 25, 230);
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 30px 0 20px;
    padding:10px 20px;
    border: 0;
}
.edit_img{
    width:25px;
    margin-right: 8px;
}
.text_field{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    color: black;
}
.text_field img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}