*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width:600px){
    div .skills{
        display: inline-block;
    }
}
@media only screen and (max-width:1007), only screen and (max-height: 550px){
    body{
        border-color: transparent ;
        border-style: solid;
        border-width: 2rem 3rem !important;
    }
    div .header_p_2{
        width: 90%;
    }
}
@media only screen and (min-width:768px){
    header{
        max-width: 720px;
    }
}
@media only screen and (min-width:992px){
    header{
        max-width: 960px;
    }
}
:root{
    /*Font*/
    --FS-Header:56px;
    --FF:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /*Colors*/
    --Header-Color:#02027b;
    --Body-Bg:#ebe1e1;
    --Box-Shadow:rgb(82, 82, 82) 10px 10px 25px 0px;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--Body-Bg);
    font-family: var(--FF);
    font-size: 1rem;
    border-color: transparent;
    border-style: solid;
    border-width: 3rem 8rem;
}
.div_header{
    font-size: 2em;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    color: var(--Header-Color);
}
/*Header*/
.header{
    padding: 0px 15px;
    width: 100%;
}
.header_img_1{
    padding: 16px 15px 0px;
}
.header_img{
    width:100%;
    overflow-clip-margin: content-box;
    border-radius: 50%;
    box-shadow: var(--Box-Shadow);
}
.header_content{
    padding: 0 15px;
    width: 100%;
}
.header_h1{
    font-size: var(--FS-Header);
    color: var(--Header-Color);
    margin-bottom: 16px;
    text-align: center;
}
.header_p_1{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20.8px;
    color:rgb(22,22,22);
    text-align: center;
}
.header_p_2{
    font-size: 1.2em;
    color: rgb(73,73,73);
    margin: 0px auto;
    display:block;
    width: 75%;
    text-align: center;
}
/*Portfolio*/
.portfolio{
    text-align: center;
}
.portfolio_img{
    border-radius: 50%;
    box-shadow: var(--Box-Shadow);
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:85%;
    overflow-clip-margin: content-box;
}
.EurOrbit, .Illustrator, .GitHub{
    margin-bottom: 2rem;
}
.portfolio_content{
    padding: 20px;
}
.title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.description{
    margin-bottom: 16px;
    font-size: 19px;
}
.portfolio_btn:hover{
    font-weight: 700;
}
/*Skill*/
.skill_summary{
    text-align: center;
}
.skills{
    margin-bottom: 16px;
    display: block;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
span{
    border: 1px solid black;
    margin: 0.1em;
    padding: 0.15em 0.5em;
    border-radius: 5px;
    font-size: 16px;
}
/*Career*/
.career_highlights{
    text-align: center;
}
/*Education*/
.education{
    text-align: center;
}
/*Contact*/
.contact{
    text-align: center;
}
/*Common*/
.description_1{
    font-size: 1.1em;
    margin-bottom: 1rem;
    color: #595959;
    font-weight: 600;
}
.location{
    font-size: 1.2em;
    margin-top: 1.2rem;
    font-weight: 700;
}
ul{
    display: table;
    list-style: none;
    margin-bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
}
li::before{
    content: "★ ";
}
.link{
    text-decoration: none;
    color: rgb(0, 39, 210);
    font-weight: 700;
}
.link:hover{
    color: red;
    text-decoration: none;
}
.tooltip-inner{
    background-color: blue !important;
    color: #fff;
    border-color: #fff;
    font-size: 12px;
}
hr{
    width: 20%;
    margin: 2rem auto;
    border-image: none;
    border-top-color: #b52580 !important;
    border-top-style:dotted ;
    border-top-width: 0.4rem;
    text-align: center;
}
/*Footer*/
.footer{
    text-align: center;
    padding: 19px 0px 64px;
}
.footer p{
    color: rgb(170, 170, 170);
    font-size: 1rem;
    margin-bottom: 1rem;
}
